/* Start button */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/question-mark.jpg);
    text-align: center;
}

.container {
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: rgb(185, 224, 247);
}

h1 {
    font-family: 'Julee', cursive;
    text-align: center;
    font-size: 60;
    letter-spacing: 8px;
    padding: 2px 0px;
    color: coral;
    background-color: rgb(192, 198, 255);
    border-radius: 50px;
    margin-top: 15px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

#triviaQuiz {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


#startButton {
    width: 30%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(85, 67, 247);
    background-color: rgb(192, 198, 255);
    font-size: 25px;
    color: white;
    border-radius: 18px;
}

#startButton:hover {
    background-color: rgb(85, 67, 247);
}

#submitButton {
    width: 70px;
    height: 40px;
    border: 2px solid rgb(85, 67, 247);
    background-color: rgb(192, 198, 255);
    font-size: 18px;
    color: white;
    border-radius: 18px;
    margin-top: 30px;
}

#submitButton:hover {
    background-color: rgb(85, 67, 247);
}

h1 {
    font-family: 'Julee', cursive;
    text-align: center;
    font-size: 75px;
    letter-spacing: 8px;
    color: coral;
    padding: 2px 0px;
    border-radius: 50px;
}

#choices {
    background-color: rgb(192, 198, 255);
    width: 250px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    border: 1px solid rgb(85, 67, 247);
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#myProgress {
    color: #2b2b2b;
    font-size: 18px;
}